body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #083452;
}
.header {
  background-image: url("../assets/header.jpg");
  background-color: #FFF;
  height: 523px;
  width: 100%;
  position: relative;
}
.header h1 {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  min-height: 45px;
  padding: 0 0 0 61px;
  line-height: 45px;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px 0px 0px 139px;
  position: absolute;
  top: 29px;
}
.navigation {
  width: 12%;
  height: 75px;
  position: absolute;
  top: 22px;
  left: 76.5%;
}
nav ul {
  width: 100%;
}
nav li {
  float:left;
  list-style: none;
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.navigation ul li:nth-child(1) {
  padding-right: 17px;
}
.navigation ul li:nth-child(2) {
  padding-right: 4px;
}
.tagline {
  position: absolute;
  top: 127px;
  font-size: 48px;
  padding-left: 15.3%;
}
.tagline h2 {
  font-size: 100px;
  color: #FFF;
  font-weight: 400;
}
.tagline p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    bottom: 80px;
    left: 459px;
}
.wrapper {
  width: 100%;
  overflow: auto;
}
main {
  width: 50%;
  float: left;
  margin: 20px 20px 10px 159px;
  box-sizing: border-box;
}
.title {
  margin: 9.5% 5px 0.8% 0px;
  padding: 0;
}
.title h1 {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 4.5em;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: -.8px;
  font-weight: 500;
}
.details {
  width: 100%;
  position: relative;
  margin-left: 9px;
}
.details img {
  width: 22px;

}
section .author {
  font-size: 12px;
  font-weight: bold;
  color: #4381BB;
  position: absolute;
  padding: 5px 0 0px 4px;
}
section .time {
  color: #ccc;
  margin-left: 88px;
  position: absolute;
  margin-top: 4px;
}
section .time a {
  color: #ccc;
  font-size: 12px;
}
section .time a:hover {
  color: #4381BB;
}
.content {
  margin-top: 6px;
  padding-top: 11px;
  line-height: 25px;
}

.content p {
  color: #535E66;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 29px;
}
blockquote {
  color: #4381BB;
  font-size: 30px;
  border-left: 2px solid #ccc;
  height: 37px;
  padding: 14px;
  margin: 12px;
  text-transform: uppercase;
}
.share ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.share li {
  display: inline-block;
  float: left;
  background-color: #535E66;
  list-style: none;
  margin-right: 20px;
  padding-left: 8px;
  padding-top: 5.3px;
  height: 22.5px;
}
.share li:hover {
  background-color: #083452;
}
.share span {
  background: #CCC;
  font-size: 13px;
  float: right;
  display: block;
  padding: 3px 5px 4px 6px;
  margin-top: -5px;
  margin-left: 10px;
  height: 22.5px;
}
.share span:hover {
  background-color: #106db3;
}
.share a {
  text-decoration: none;
  color: #FFF;
}
#comment {
  background-image: url(../assets/icon-comment.png);
  background-repeat: no-repeat;
  padding: 0px 7px 0px 9px;
}
#later {
    padding: 0px 7px 0px 9px;
    background-image:url(../assets/icon-upload.png);
    background-repeat: no-repeat;
}
#share {
  padding: 0px 7px 0px 9px;
  background-image:url(../assets/icon-share.png);
  background-repeat: no-repeat;
}
aside {
  width: 22%;
  float: left;
  margin-left: 53px;
  margin-top: 55px;
  margin-right: 30px;
  box-sizing: border-box;
}
.social {
  width: 100%;
}
img.avatar {
  display: block;
  padding-left: 35%;
  padding-top: 46px;
}
.social span {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding-left: 96px;
  padding-top: 12px;
}
.social ul {
  width: 100%;
  padding-top: 18px;
}
.social li {
  display: inline-block;
  list-style: none;
}
.social li a {
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
  margin-right: 18px;
}
.social li a:hover {
    color: #4381BB;
}
.ad {
  width: 100%;
}
.ad img {
  padding-top: 38px;
}
.about a {
  color: #ccc;
  font-size: 12px;
  float: right;
  display: block;
  color: #ccc;
}
.summary {
  width: 100%;
  display: block;
  padding-top: 15px;
  height: auto;
}
.summary h1 {
  text-transform: uppercase;
  color: #4381BB;
  font-size: 22px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.summary p {
  color: #ccc;

}
.popular {
  width: 100%;
  margin: 0;
  padding: 0;
}
.popular h1 {
  text-align: center;
  font-size: 65px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  border-top: 1px solid #ccc;
  margin-top: 57px;
  margin-bottom: 27px;
  padding-top: 20px;
  padding-left: 5%;
  list-style: none;
}
.popular ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.popular li {
  display: inline-block;
  width: 25%;
  margin: 0px;
  padding: 0px;
  height: 330px;
  float: left;
  background-color: #083452;
  opacity: .9;
  position: relative;
  overflow: hidden;
}
.images a {
  color: #083452;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-decoration: none;
  padding-left: 5%;
  padding-top: 250px;
  display: inline-block;
  z-index: 1;
}
.images li:nth-child(3) a{
  padding-top: 210px;
  line-height: 1.2;
}
.popular img{
    opacity: .4;
    position: relative;
}
.images li:hover {
  background:none;
  opacity: 1;
}
.footer {
  width: 100%;
  height: 93px;
  position: relative;
  background-color: #083452;
}
.company span {
  background-image: url("../assets/theironyard-logo.png");
  background-repeat: no-repeat;
  min-height: 45px;
  padding: 0 0 0 4.6%;
  line-height: 41px;
  font-weight: 300;
  margin: 0px 0px 0px 13.5%;
  position: absolute;
  top: 25px;
  color: #ccc;
  font-size: 1em;
}
.footer .nav {
  position: relative;
  top: 21px;
  float: right;
  padding-right: 8.5%;
}
.nav ul {
  width: 100%;
}
.nav li {
  float:left;
  list-style: none;
  font-size: 1em;
  font-weight: 300;
  color: #ccc;
}
